name: Deploy to QT
on:
  push: 
    branches: main
    paths:
      - 'environments/promote.yaml'

jobs:
  check-promotion:

    runs-on: ubuntu-latest

  deploy:
    needs: check-promotion
    runs-on: ubuntu-latest
    environment: 
      name: qt
      url: https://kubernetes.default.svc
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup Helm
      uses: azure/setup-helm@v3
      
    - name: Install Helmfile
      run: |
        curl -fsSL -o helmfile_linux_amd64 https://github.com/roboll/helmfile/releases/download/v0.144.0/helmfile_linux_amd64
        chmod +x helmfile_linux_amd64
        sudo mv helmfile_linux_amd64 /usr/local/bin/helmfile
        
    - name: Deploy to QT
      run: |
        helmfile -e qt apply
